.main{
  width: 100%;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- Navbar and burger Menu +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/

.navbar{
  width: 100%;
  height: 8vh;
  background-color: #161b22;
  border-bottom: 1px solid #30363d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin:0;
}

.navbar h1{
  margin: 0 ;
  cursor: pointer;
}

.navbar p{
  margin: 2px 0 0 0 ;
  cursor: pointer;
  font-size: 14px;
}

.burgerMenu{
  height: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burgerClass{
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 25px;
}

.menuContent{
  overflow-y: auto;
  margin: 0;
  display: flex;
  flex: 1;
  height: 92vh;
  padding: 0 10%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.menuContent input{
  color: white;
  border: solid 1px #30363d;
  background-color: #0d1117;
  outline: none;
  width: 60%;
  border-radius: 6px;
  padding: 10px;
}

.menuContent h1{
  margin: 0;
}

.selectWidth{
  width: 60%;
}

.selectWidth h4{
  margin: 5px 0;
}

.separator{
  height: 1px;
  border-radius: 50px;
  width: 60%;
  background-color: white;
  opacity: 0.4;
  margin: 20px 0;
}

.login{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
}

.main button{
  background-color: #161b22;
  border: #30363d 1px solid;
  box-shadow: 1px 1px 5px #30363d;
  border-radius: 6px;
  color: white;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.main button:hover{
  transition: 0.5;
  background-color: #161b22;
  border: #30363d 1px solid;
  box-shadow: 1px 1px 10px #30363d;
  border-radius: 6px;
  color: white;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.main input:focus{
  outline: none;
}

.logoContainer{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.searchHeader{
  margin: 0;
}

.inputContainer{
  width: 60%;
}

.inputContainer p{
  margin: 15px 0 10px 0 ;
}

.checkBoxes input{
  width: 20px;
  margin-right: 5px;
}

.checkBoxes{
  color: white;
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
}




/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- Sliding Menu +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/

.hidden{
  display: none;
}

.visible{
  display: inherit;
}

.menuTitle{
  z-index: 2;
}


/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- Responsive +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/


@media only screen and (max-width: 768px){
  .menuContent{
    margin: 0;
    display: flex;
    flex: 1;
    height: 92vh;
    padding: 120px 0 0 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .menuContent input{
    width: 80%;
  }

  .selectWidth{
    width: 80%;
  }

  .inputContainer{
    width: 80%;
  }
  .checkBoxes input{
    width: 20px;
    margin-right: 5px;
  }
}


